/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

nav a.active {
    color: #DCDCDC;
}

body {
  background-color: #f4f3ee;
  font-family: 'Roboto', sans-serif;
}
