<div class="card mt-2">
  <div class="card-body">
    <div class="row">
      <div class="col-2 mt-4">
        <div class="buttons form-group col-6 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <button routerLink="/table" type="submit" class="btn btn-wide btn-icon btn-secondary">
            <i class="fa fa-chevron-left mr-2"></i>Back
          </button>
        </div>
      </div>

      <div class="col-10">
        <app-search-header (submitFn)="this.getCountriesStatisticsByDate($event)"
          (refreshFn)="this.getCountriesStatisticsByDate($event)">
        </app-search-header>
      </div>
    </div>

    <div class="canvas-cases">
      <canvas baseChart [datasets]="this.barChartData" [labels]="this.barChartLabels" [options]="this.barChartOptions"
        [plugins]="this.barChartPlugins" [legend]="this.barChartLegend" [chartType]="this.barChartType">
      </canvas>
    </div>


  </div>
</div>
