
.card {
  box-shadow: 0px 0px 10px #999;

  height: 620px;
}
.card-body {
  flex: 1;
}

.secondary {
  background-color: #9f86c0;
}

.button-title, i {
  color: #ffffff;
}

.buttons {
  margin-top: 33px;
}
.content-chart {
  justify-content: center;
}

@media all and (max-width: 1100px) {
  .canvas-cases {
    width: auto;
    height: 300px;
  }
}

@media all and (max-width: 1000px) {
  .canvas-cases {
    margin-top: 150px;
    width: auto;
    height: 300px;
  }
}

@media all and (max-width: 600px) {
  .canvas-cases {
    margin-top: 200px;
    width: 600px;
    min-height: 500px;
  }

  .card {
    height: 700px;
  }
}
