<div class="card mt-3">
  <div class="card-body">
    <div class="content-align-center">

      <app-search-header (submitFn)="this.getCountriesStatisticsByDate($event)"
        (refreshFn)="this.getCountriesStatisticsByDate($event)">
      </app-search-header>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Country</th>
            <th>Confirmed</th>
            <th>Recovered</th>
            <th>Deaths</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries">
            <td class="country">{{ country.Country }}</td>
            <td>
              <span>Confirmed</span> {{ country.Confirmed | number }}
            </td>
            <td>
              <span>Recovered</span> {{ country.Recovered | number }}
            </td>
            <td>
              <span>Deaths</span> {{ country.Deaths | number }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
